{% extends 'lab/index.html.j2'%}

{% block header %}
{{ super() }}
<script type="text/x-mathjax-config">
MathJax.Hub.Config({
    CommonHTML: { linebreaks: { automatic: false } }
});
MathJax.Hub.Queue(["Typeset", MathJax.Hub]);
</script>
{% endblock header %}
